.taskList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.infoChild {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.counterContainer {
  border-radius: 999px;
  background: var(--gray-400);
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.125rem 0.5rem;
}

.createdTasksText {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--blue-300);
}

.doneTasksText {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--purple-300);
}