.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;

  padding: 1rem;
  background: var(--gray-500);

  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.taskInfo {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}

.taskInfo input[type="checkbox"] {
  appearance: none;
  
  line-height: 0;
  box-shadow: none;

  width: 1rem;
  height: 1rem;

  color: var(--gray-100);
  border: 1px solid var(--blue-300);
  border-radius: 50%;

  position: relative;
}

.taskInfo input[type="checkbox"]:hover {
  border: 1px solid var(--blue-500);
}

.taskInfo input[type="checkbox"]:checked {
  border: 1px solid var(--purple-500);
  background: var(--purple-500);
}

.taskInfo input[type="checkbox"]:checked:hover {
  border: 1px solid var(--purple-300);
  background: var(--purple-300);
}

.taskInfo input[type="checkbox"]:checked::before {
  content: "✓";
  position: absolute;
  font-size: 0.8rem;
  font-weight: 700;
  top: 0.5rem;
  left: 0.1rem;
}

.taskTextUnchecked {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-100);
}

.taskTextChecked {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-300);
  text-decoration-line: line-through;
}

.container button {
  background: transparent;
  color: var(--gray-300);
  border: 0;
  cursor: pointer;
  line-height: 0;
  border-radius: 4px;
  padding: 0.3125rem;

  transition: background-color 0.2s, color 0.2s;
}

.container button:hover {
  background: var(--gray-400);
  color: var(--red-300);
}